{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
 {% include('inc/slides.html.twig') %}
<section class="container"><div class="row"><div class="col">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
           Vous êtes connecté en tant que :
 {{ app.user.username }}, <a href="{{ path('app_logout') }}">  Me déconnecter</a>
        </div>
    {% endif %}

    <h3 class="h3 mb-3 font-weight-normal perso_ColorGreyMenu text-center">Se connecter</h3>
    <label for="inputEmail"> <i class="icon-envelope-alt"></i>Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword"><i class="icon-lock"></i> Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
        <div class="row">
            <div class="checkbox mb-3 col-8">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>
            <div class="col-2 offset-2">
                <a href="{{ path('app_forgot_password_request') }}" title="Password oublié">Mot de passe oublié ?</a>
            </div>
        </div>
    <button class="btn btn-lg btn-primary" type="submit">
        Me connecter
    </button>
</form>
</div>
</div>
</section>
{% endblock %}
