{% extends 'base.html.twig' %}

{% block title %}Avenir - Solidarité - Développement{% endblock %}

{% block body %}
    {% include('inc/slides.html.twig') %}<br/>
     
    <section id="content">
      <div class="container">
       {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
        <div class="row">
          <div class="span12">
            <div class="row">
              <div class="span3">
                <div class="box aligncenter">
                  <div class="aligncenter icon">
                    <i class="icon-briefcase icon-circled icon-64 active"></i>
                  </div>
                 
                  <div class="text">
                    <h6>Qui sommes nous ?</h6>
                   Avenir - Solidarité - Développement est une association intervenant dans le domaine de l’agriculture, la pisciculture et la prestation de services pour la production de biogaz en milieu rural au Sénégal. 

                    </p>
                    <a href="{{ path('main_apropos') }}">En savoir plus ...</a>
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="box aligncenter">
                  <div class="aligncenter icon">
                    <i class="icon-desktop icon-circled icon-64 active"></i>
                  </div>
                  <div class="text">
                    <h6>Notre objectif</h6>
                    <p>Notre principal objectif est le développement durable qui constitue un mode de développement équilibré des activités humaines en faisant coïncider efficacité économique, préservation de l’environnement et équité sociale.</p>
                    <a href="{{ path('main_apropos') }}">En savoir plus ...</a>
                  </div>
                </div>
              </div>
               
              <div class="span3">
                <div class="box aligncenter">
                  <div class="aligncenter icon">
                    <i class="icon-beaker icon-circled icon-64 active"></i>
                  </div>
                  <div class="text">
                    <h6>Notre vision</h6>
                    <p>
                      Notre vision est de mettre en évidence une stratégie de développement durable, en mettant sur place des petites actions faisables consistant à la mise en œuvre d’activités économiques simples ne nécessitant pas de grands moyens.
                    </p>
                    <a href="{{ path('main_apropos') }}">En savoir plus ...</a>
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="box aligncenter">
                  <div class="aligncenter icon">
                    <i class="icon-coffee icon-circled icon-64 active"></i>
                  </div>
                  <div class="text">
                    <h6>Notre mission</h6>
                    <p>
Notre mission est de participer à l’effort national de développement et de croissance soutenue par le Plan Sénégal Emergent. Elle s’inscrit dans une dynamique participative de développement économique .                    </p>
                    <a href="{{ path('main_apropos') }}">En savoir plus ...</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- Descriptions -->
        <!-- Lists -->
        <div class="row">
          <!-- Unordered Lists -->
          <div class="span3">
            <h4>Situation</h4>
             <img src="assets/img/works/full/image-03-full.jpg" alt="" />
             <p> Situé sur la rive gauche du fleuve Sénégal, à 70 km de la ville de Matam, Dondou est un village de la région de Matam, département de Matam, arrondissement d’Ogo, commune de Bokidiawé.<br/>
              Comme la majeure partie des villages de la vallée, il se trouve sur un bourrelet de berge qui le met à l'abri des inondations intervenant en période hivernale lorsque les pluies sont exceptionnellement abondantes. </p>
                <ul>
                  <li>Au nord par le village de Diéol  ;</li>
                  <li>Au sud par le village de Aly Woury ; </li>
                  <li>A l’ouest par les villages de Mow ;</li>
                  <li>A l’est par la Mauritanie (Dahira) ;</li>
                </ul>
          </div>
          <!-- Unstyled Lists -->
          <div class="span3">
            <h4>La population</h4>
             <img src="assets/img/works/full/image-10-full.jpg" alt="" />
              <p>La population de Dondou est estimée aujourd'hui à dix milles habitants,
                descendants de plusieurs vagues d'immigration proveneant pour l'essentiel du Mali et du Nord
                (Walo, Saint Louis). L'histoire du peuplement de Dondou en fait un melting-pot clanique .
                L'une des particularités de la population est la permanence des castes,sortes de catégories
                socioprofessionnelles dont la composante majeure est celle des Subalbes (pêcheurs).<br/>
                La population est jeune et majoritairement féminine.Comme la plupart des villages du fouta,
                Dondou est une zone de forte émigration...<p/>
          </div>
          <!-- Ordered Lists -->
          <div class="span3">
            <h4>L'économie</h4>
             <img src="assets/img/works/full/image-12-full.jpg" alt="" />
              <p>Les ressources économiques du village de Dondou proviennent de l'agriculture
                (cultures, élevages, pêche...) et du commerce. L'agriculture porte sur le mil , le sorgho ,
                le maïs et le riz . La pêche connait un récul regrettable, pour un village de pêcheur.
                Les mises à terre sont très modestes et leur évolution, inversement proportionnelle à la
                croissance démographique, d'où un taux de dépendance de plus en plus élevé. l'élevage est extensif.
                Il est constitué de bovins, d'ovins , de caprins , d'asins et d'êquins. Ce n'est pas un élevage
                commercial. Le commerce est dominé par les wolofs .</p>
          </div>
          <!-- Unstyled Lists -->
          <div class="span3">
            <h4>L'immigration</h4>
             <img src="assets/img/works/full/image-11-full.jpg" alt="" />
              <p>La présence des ressortissants de Dondou en France est le résultat de plusieurs vagues d’immigration dont l’essentiel s’est produit pendant les trente glorieuses, lorsque l’économie française avait besoin de main d’œuvre, en 
particulier dans les usines. C’est donc souvent vers les zones industrialisées et urbanisées que ces ressortissants 
ont en général convergé. 
Ils sont répartis principalement en Île de France (Paris et Mantes la Jolie), en Normandie (Évreux, Cléon, Elbeuf, 
Rouen, Pitres et le Havre) et enfin dans l’Eure et Loire (Dreux). 
Les résultats du recensement mené récemment par l’Association montre qu’il y’a au total 1 549 ressortissants de 
Dondou en France. 
On enregistre dans la région de Normandie 1 108 ressortissants, 37 dans l’Eure et Loire, 404 dans la région Ile 
de France.</p>
          </div>
        </div>
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
       </div>
        <div class="row">
          <div class="span12">
            <h4 class="heading">Quelques projets <strong> humanitaires</strong> réalisés :</h4>
            <div class="row">
              <section id="projects">
                <ul id="thumbs" class="portfolio">
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Agriculture" href="img/works/full/image-01-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-01.jpg" alt="une agriculture innovante et durable par la création d’une ferme intégrée regroupant plusieurs activités interdépendantes.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 design" data-id="id-1" data-type="icon">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Aviculture" href="img/works/full/image-02-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-02.jpg" alt="La volaille représente aujourd’hui l’une des principales sources de protéines animales ; de ce faite l’aviculture connaît un développement exponentiel et est un créneau de choix pour les producteurs agricoles, des ex-fonctionnaires, les investisseurs privés…
L’aviculture semi -industrielle localisée essentiellement dans la région de Dakar bénéficie d’un micro- climat favorable.
.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Promotion du maraichage" href="img/works/full/image-03-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-03.jpg" alt="La promotion de l’agroécologie dans un contexte de changement climatique constitue une innovation première d’ association  dans la vallée du fleuve. L’agroécologie apparaît de plus en plus comme une réponse pertinente á la problématique d’adaptation agricole des régions sèches. Que ce soit en matière de gestion de l’eau, de préservation du sol contre l’érosion et de la gestion de la fertilité des sols.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Production des oeufs" href="img/works/full/image-04-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-04.jpg" alt="L’offre en œufs de consommation est insuffisante en production locale pour une demande sans cesse croissante car l’œuf rentre dans la préparation de plats cuisinés et de nombreuses pâtisseries. 
Le climat joue sur la production locale ainsi pendant l’hivernage, le taux de ponte baisse à cause de la chaleur.
En 1996 la consommation par habitant était de 20 œufs / an, cependant depuis l’année 2000 l’objectif du gou-vernement s’établit à 220 œufs / habitant / an.
.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-4" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Maraichage" href="img/works/full/image-05-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-05.jpg" alt="Au Sénégal, la vallée du fleuve est une zone semi-aride où les populations à dominante pastorale font face à plusieurs défis climatiques. Toutefois, les écosystèmes offrent de réelles opportunités de valorisation des pratiques agroécologiques capables de renforcer la dynamique des exploitations familiales et la production vivrière.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-5" data-type="icon">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Achat échographie" href="img/works/full/image-06-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-06.jpg" alt="Pour soutenir la démarche du gouvernement du Sénégal, l’amélioration de la santé maternelle reste l’une des grandes priorités de l’Association de Développement et de Solidarité des Ressortissants de Dondou en France. Elle œuvre à réduire cette mortalité en renforçant le plateau technique médicale du poste de santé, en fournissant aux agents de santé sur place des moyens matériels adéquats leur permettant de donner des soins de qualité. .">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Achat ambulance" href="img/works/full/image-07-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-07.jpg" alt="Une ambulance toute neuve d'une valeur de 16 000 000 F CFA a été achetée par l' association et mise à la disposition des populations locales pour permettre l'évacuation des malades vers les structures de santé les mieux adaptées.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Cabinet dentaire" href="img/works/full/image-08-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="assets/img/works/thumbs/image-08.jpg" alt="Le projet équipement d’un cabinet dentaire est un prolongement du projet santé. Il consiste à équiper un cabinet dentaire à Dondou pour venir en aide à la population locale. Un technicien dans ce domaine a été consulté pour une étude de faisabilité. Ainsi une expression de besoins a été établie et des demandes de devis ont été réalisées.">
                  </li>
                  <!-- End Item Project -->
                </ul>
              </section>
            </div>
          </div>
        </div>
        <!-- End Portfolio Projects -->
        <!-- divider -->
    </section> 
{% endblock %}