{% extends 'base.html.twig' %}

{% block title %}Listes des annonces !{% endblock %}
{% block body %}
{% include('inc/slides.html.twig') %}
  <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>Blog annonces</h2>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li><a href="#">Blog</a><i class="icon-angle-right"></i></li>
              <li class="active">Annonces</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span4">
            <aside class="left-sidebar">
              <div class="widget">
                <form class="form-search">
                  <input placeholder="Mots clés" type="text" class="input-medium search-query">
                  <button type="submit" class="btn btn-square btn-theme">Rechercher</button>
                </form>
              </div>
              <div class="widget">
               
                <h5 class="widgetheading">Titre des annonces</h5>
                {% for annonce in annonces %}
                <ul class="cat">
                  <li><i class="icon-angle-right"></i><a href="#">{{ annonce.title }}</a></li>
                </ul>
                 {% endfor %}
              </div>
               <div class="widget">
                <h5 class="widgetheading">Les dernières annonces</h5>
                 {% for annonce in annonces %}
                <ul class="recent">
                  <li>
                   {% for image in annonce.images %}
                    <img src="{{ asset('uploads/' ~ image.name) }}" alt="annonce.title" width="90" height="90">
                     {% endfor %}
                    <h6><a href="#">{{ annonce.title }}</a></h6>
                    <p>
                      {{ annonce.content|u.truncate(270,'...')|raw}}
                    </p>
                  </li>
                </ul>
                 {% endfor %}
              </div>
              <div class="widget">
                <h5 class="widgetheading">Les projets populaires</h5>
                <ul class="tags">
                  <li><a href="#">Le maraichage</a></li>
                  <li><a href="#">L'elevage</a></li>
                  <li><a href="#">L'agriculture</a></li>
                  <li><a href="#">La pisculture</a></li>
                  <li><a href="#">L'energie renouvelable</a></li>
                </ul>
              </div>
            </aside>
          </div>
          <div class="span8">
          {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
           {% for annonce in annonces %}
            <article>
              <div class="row">
                <div class="span8">
                  <div class="post-slider">
                    <div class="post-heading">
                      <h6>Titre : {{ annonce.title }}</h6>
                    </div>
                    <!-- start flexslider -->
                    <div class="flexslider">
                    {% for image in annonce.images %}
                      <ul class="slides">
                        <li>
                        <img src="{{ asset('uploads/' ~ image.name) }}" alt="annonce.title" dwith="150">
                        </li>
                        <li>
                          <img src="{{ asset('uploads/' ~ image.name) }}"  alt="annonce.title"  width="150"  />
                        </li>
                        <li>
                          <img src="{{ asset('uploads/' ~ image.name) }}"  alt="annonce.title"  width="150" />
                        </li>
                      </ul>
                       {% endfor %}
                    </div>
                    <!-- end flexslider -->
                  </div>
                     <p>{{ annonce.content|raw}}</p>
                     <div class="bottom-article">
                    <ul class="meta-post">
                      <li><a href="#"><strong>Annonce de :</strong></a></li>
                      <li><i class="icon-user"></i><a href="#"><strong>{{annonce.nickname}}</strong></a></li>
                      <li><i class="icon-calendar"></i><a href="#"> publiée le <strong>{{annonce.createdAt|date("d/m/Y H:i") }} </strong></a></li>
                      <li><a href="{{ path('utilisateur_ajoutcomments') }}">Ajouter un commentaire</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
             <article>
              <div class="row">
                <div class="span8">
                  <div class="post-slider">
                    <div class="post-heading">
                      {% for comment in annonce.comments %}
                      <p><span>Commentaire de : </span><strong>{{comment.nickname}}</strong> publié le  <strong>{{comment.createdAt|date("d/m/Y H:i") }}  </strong> </p>
                      <div>{{comment.content|raw}}</div>
                      <p><a href="{{ path('utilisateur_ajoutcomments') }}" data-reply data-id="{{comment.id}}" class="btn  btn-theme btn-rounded">Répondre</a></p>
                      {% for reply in comment.replies %}
							<p>Réponse publiée par <strong>{{reply.nickname}} </strong> le <strong>{{reply.createdAt|date("d/m/Y H:i") }}</strong></p>
							<div>{{reply.content|raw}}</div>
						{% endfor %}
                      {% endfor %}
                      
                    </div>
                  </div>
                   
                </div>
              </div>
            </article>
            {% endfor %}
            <section>
            {{ knp_pagination_render(annonces) }}
            </section>
          </div>
        </div>
      </div>
    </section>
   
{% endblock %}
{% block javascripts %}
	<script>
		window.onload = () => {
			// On met un écouteur d'évènements sur tous les boutons répondre
			document.querySelectorAll("[data-reply]").forEach(element => {
				element.addEventListener("click", function(){
					document.querySelector("#comments_parentid").value = this.dataset.id;
				});
			});
		}
	</script>
{% endblock %}