{% extends 'base.html.twig' %}

{% block title %}Listes des annonces !{% endblock %}

{% block body %}
{% include('inc/slides.html.twig') %}
  <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
            
              <h2>Blog annonces</h2>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li><a href="#">Blog</a><i class="icon-angle-right"></i></li>
              <li class="active">Annonces</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span4">
            <aside class="left-sidebar">
              <div class="widget">
                <form class="form-search">
                  <input placeholder="Mots clés" type="text" class="input-medium search-query">
                  <button type="submit" class="btn btn-square btn-theme">Rechercher</button>
                </form>
              </div>
              <div class="widget">
               
                <h5 class="widgetheading">Titre des annonces</h5>
                {% for annonce in annonces %}
                <ul class="cat">
                  <li><i class="icon-angle-right"></i><a href="#">{{ annonce.title }}</a></li>
                </ul>
                 {% endfor %}
              </div>
               <div class="widget">
                <h5 class="widgetheading">Les dernières annonces</h5>
                <ul class="recent">
                  <li>
                    <img src="assets/img/dummies/blog/65x65/thumb1.jpg" class="pull-left" alt="" />
                    <h6><a href="#">Lorem ipsum dolor sit</a></h6>
                    <p>
                      Mazim alienum appellantur eu cu ullum officiis pro pri
                    </p>
                  </li>
                  <li>
                    <img src="assets/img/dummies/blog/65x65/thumb2.jpg" class="pull-left" alt="" />
                    <h6><a href="#">Maiorum ponderum eum</a></h6>
                    <p>
                      Mazim alienum appellantur eu cu ullum officiis pro pri
                    </p>
                  </li>
                  <li>
                    <img src="assets/img/dummies/blog/65x65/thumb2.jpg" class="pull-left" alt="" />
                    <h6><a href="#">Et mei iusto dolorum</a></h6>
                    <p>
                      Mazim alienum appellantur eu cu ullum officiis pro pri
                    </p>
                  </li>
                </ul>
              </div>
              <div class="widget">
                <h5 class="widgetheading">Les projets populaires</h5>
                <ul class="tags">
                  <li><a href="#">Le Poste de santé</a></li>
                  <li><a href="#">Le forage</a></li>
                  <li><a href="#">L'agriculture</a></li>
                  <li><a href="#">La pisculture</a></li>
                  <li><a href="#">L'avicultue</a></li>
                  <li><a href="#">L'aviculture</a></li>
                </ul>
              </div>
            </aside>
          </div>
          <div class="span8">
          {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
           {% for annonce in annonces %}
            <article>
              <div class="row">
                <div class="span8">
                  <div class="post-slider">
                    <div class="post-heading">
                      <h4>Titre : {{ annonce.title }}</h4>
                    </div>
                    <!-- start flexslider -->
                    <div class="flexslider">
                      <ul class="slides">
                        <li>
                          <img src="assets/img/dummies/blog/img3.jpg" alt="" />
                        </li>
                        <li>
                          <img src="assets/img/dummies/blog/img3.jpg" alt="" />
                        </li>
                        <li>
                          <img src="assets/img/dummies/blog/img3.jpg" alt="" />
                        </li>
                      </ul>
                    </div>
                    <!-- end flexslider -->
                  </div>
                     <p>{{ annonce.content|raw}}</p>
                </div>
              </div>
            </article>
             <article>
              <div class="row">
                <div class="span8">
                  <div class="post-slider">
                    <div class="post-heading">
                      <h6>Commentaires</h6>
                    </div>
                  </div>
                    {% for comment in annonce.comments %}
					{% if comment.parent == null %}
						<h3>Commentaire de {{comment.nickname}}</h3>
						<p>Publié le {{comment.createdAt|date("d/m/Y H:i") }}</p>
						<div>{{comment.content|raw}}</div>
						<p><a href="#ajout-commentaire" data-reply data-id="{{comment.id}}" class="btn primary press">Répondre</a></p>

						{# On affiche les réponses #}
					
					{% endif %}
				{% endfor %}
                </div>
              </div>
            </article>
            {% endfor %}
            <article>
              <div class="row">
                <div class="span8">
                  <div class="post-slider">
                    <div class="post-heading">
                     
                    </div>
                  </div>
                      <h6><a href="{{ path('utilisateur_ajoutcomments') }}">Ajouter un commentaire</a></h6>
               
                </div>
              </div>
            </article>
            <section>
           <div class="pagination"><ul> <li class="disabled"><a href="#">Prev</a></li> <li class="active"><a href="#">1</a></li> <li><a href="#">2</a></li> <li><a href="#">3</a></li><li><a href="#">4</a></li> <li><a href="#">5</a></li><li><a href="#">Next</a></li> </ul> </div>
            {{ knp_pagination_render(annonces) }}
            </section>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
