{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col">
    <h3>Modification {{ utilisateur.nom ~ ' ' ~ utilisateur.prenom }}</h3>
    
    {{ form_start(form)}}
        <div class="row">
            <div class="col-6">
                {{ form_row(form.nom) }}
                {{ form_row(form.prenom) }}
                {{ form_row(form.rue) }}
                {{ form_row(form.codePostal) }}
                {{ form_row(form.ville) }}
            </div>
            <div class="col-6">
                {{ form_row(form.pays) }}
                {{ form_widget(form)}}
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Enregistrer">
    {{ form_end(form) }}
    </div>
    </div>
    </div>
{% endblock %}

{% block title %}Modification d'un utilisateur{% endblock %}

